@model IEnumerable<Dashboard.Models.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eventDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalSeats)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eventDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalSeats)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.eventName }) |
            @Html.ActionLink("Details", "Details", new { id=item.eventName }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.eventName })
        </td>
    </tr>
}

</table>
